## Sets

In [1]:
## Defining an empy set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [4]:
set_1={1,2,3,3,4,4,5,5,5}
print(set_1)

{1, 2, 3, 4, 5}

In [6]:
set_var={"Avengers", "IronMan", 'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'Hitman', 'IronMan'}

set

In [7]:
## inbuilt function in sets
set_var.add('Hulk')

In [8]:
print(set_var)

{'Avengers', 'Hitman', 'IronMan', 'Hulk'}

In [9]:
set1={'Avengers','Ironman','Hitman'}
set2={'Avengers','Ironman','Hitman','Hulk'}

In [10]:
# Difference
set2.difference(set1)

{'Hulk'}

In [13]:
set2.difference_update(set1)

In [14]:
print(set2)

{'Hulk'}

## Dictionaries

In [15]:
dic={}

In [16]:
type(dic)

dict

In [17]:
dic={1,2,3,4,5}

In [18]:
type(dic)

set

In [19]:
## Lets create a dictionary
my_dict={'Car1':'Nissan', 'Car2':'Toyota', 'Car3':'Bently'}

In [20]:
type(my_dict)

dict

In [21]:
my_dict['Car1']

'Nissan'

In [27]:
# Loop thru dictionary keys
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [29]:
# Loop thru dictionary values
for x in my_dict.values():
    print(x)

Nissan
Toyota
Bently

In [30]:
# loop thru dictionary items
for x in my_dict.items():
    print(x)

('Car1', 'Nissan')
('Car2', 'Toyota')
('Car3', 'Bently')

In [31]:
# adding items in dictionary

my_dict['Car4']='Porche 911'

In [32]:
print(my_dict)

{'Car1': 'Nissan', 'Car2': 'Toyota', 'Car3': 'Bently', 'Car4': 'Porche 911'}

In [37]:
my_dict['Car1']='Maserati'

In [38]:
print(my_dict)

{'Car1': 'Maserati', 'Car2': 'Toyota', 'Car3': 'Bently', 'Car4': 'Porche 911'}

## Nested Dictionary

In [35]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model, 'car2':car2_model, 'car3':car1_model}

In [36]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Mercedes': 1960}}

In [39]:
# Accessing items in dictionary
print(car_type['car1'])

{'Mercedes': 1960}

In [40]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [41]:
# Create empty Tuple
my_tuple=tuple()

In [42]:
type(my_tuple)

tuple

In [43]:
my_tuple=()

In [44]:
type(my_tuple)

tuple

In [45]:
my_tuple=('Andi', 'Auliyanto', 'Absari')

In [46]:
my_tuple[0]

'Andi'

In [47]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Andi', 'Auliyanto', 'Absari')

In [48]:
type(my_tuple)

tuple

In [49]:
## inbuilt function
my_tuple.count('Andi')

1